.courseList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 11rem 1rem 11rem;
}
.courseList-extend {
    flex-direction: column;
}
.course {
    flex: 505px;
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: center;
    margin: 1rem;
    background-color: white;
    border: 1px solid #c9d5df;
    box-shadow: 0 0 10px 1px rgba(95, 120, 155, 0.23);
    transition: all .1s;
}
.course:hover {
    box-shadow: 0 5px 40px 1px rgba(16, 45, 70, 0.2);
    transition: all .3s;
}
.course > h3 {
    display: block;
    font-size: 1.5rem;
    text-align: center;
    flex: 0 0 auto;
    text-transform: uppercase;
    z-index: 1;
    background-color: rgb(19, 28, 44);
    color: white;
    padding: 1rem 2rem;
    width: 100%;
    border: none;
}
.course > p {
    padding: 1rem 0 .5rem;
}
.course-extend {
    flex: 1;
    height: 50rem;
}
.course-extend > a {
    border-top: 1px solid RGBA(0, 0, 0, 0.58);
}
.img_container {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    position: relative;
    text-align: center;
    width: 100%;
    height: auto;
    transition: all .1s;
}
.img_container > video {
    width: 100%;
    height: 100%;
    display: block;
}
.course-extend .img_container {
    flex: 0 1 auto;
    height: 500px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
.choice-data-container {
    display: flex;
    flex-wrap: wrap;
    padding: .5rem 1rem .5rem;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(19, 28, 44, 0.86);
    width: 100%;
    height: 100%;
    opacity: 0;
    overflow: auto;
    transition: all .2s;
}
.choice-data-container:hover {
    opacity: 1;
}
.choice-data-container > button {
    flex: 1 1 40%;
    font-size: 1.2rem;
    max-width: calc(50% - 2rem);
    margin: 1rem;
    padding: 1rem;
    min-height: 4rem;
    border: 2px solid transparent;
    background-color: rgba(5, 13, 26, 0.64);
    color: #e1e1e1;
    transition: all .3s;
}
.choice-data-container button:hover {
    cursor: pointer;
    border: 2px solid #51b7ec;
}
.choice-data-container--button-active {
    background-color: #51b7ec !important;
    color: black !important;
}
.extend_data {
    flex: 1 0 auto;
    min-height: 240px;
    margin: 2rem 6% 0;
    position: relative;
}
.extend_data > ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
}
.extend_data > ul li {
    flex: 32%;
    display: flex;
    max-width: 32%;
    margin: .5rem .5rem;
    padding: 0.5rem 0;
    line-height: 1.8rem;
    background-color: white;
    font-weight: bold;
    border: 1px solid rgba(19, 28, 44, 0.23);
    color: #3A424F;
    transition: all .1s;
}
.extend_data > ul li img {
    height: 27px;
    width: 27px;
    margin-left: .5rem;
}
.extend-data--title {
    flex: 1 1 auto;
}
.extend-data--version {
    margin-right: .5rem;
}
.course > div p {
    margin: 1rem 0 2rem;
}
.course > a {
    text-decoration: none;
    width: 100%;
    font-size: 1.1rem;
    text-transform: uppercase;
    background-color: #ffffff;
    color: #040f1b;
    padding: 1rem 0;
    transition: opacity .15s cubic-bezier(.55,.09,.68,.53);
}
.course > a:hover {
    text-decoration: underline;
}
.arrow_left {
    left: -6%;
    transform: translateY(-50%) rotate(90deg);
}
.arrow_right {
    right: -6%;
    transform: translateY(-50%) rotate(-90deg);
}
.courseDetailArticle {
    min-height: 200px;
    display: block;
    margin: 1rem 12rem 0;
}
.courseDetailArticle > h3 {
    color: #2f4a6b;
}
.courseDetailArticle > div {
    background-color: white;
    padding: 1rem;
    border-left: 1px solid #41b0eb;
    margin: 1rem 0 2.5rem;
}
.courseDetailArticle > div > h4 {
    padding: 0 0 1rem;
}
.courseDetailArticle > div > img {
    display: block;
    height: 70rem;
    width: auto;
    max-width: 100%;
    margin: 2rem auto 2rem;
}